# Vorlage fuer lokale Signing-Secrets
SMART_ALARM_KEY_ALIAS=smart_alarm
SMART_ALARM_KEY_PASSWORD=dein_key_passwort
SMART_ALARM_STORE_PASSWORD=dein_store_passwort
SMART_ALARM_STORE_FILE=../../gestalten-sass.keystore
